/bin/
/.settings/
*.project
*.classpath
.idea
target
\.idea/EpicVouchers\.iml

\.idea/libraries/old\.xml

\.idea/libraries/spigot_1_13_1\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/uiDesigner\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

target/classes/com/songoda/epicvouchers/command/AbstractCommand\.class

target/classes/com/songoda/epicvouchers/command/AbstractCommand\$ReturnType\.class

target/classes/com/songoda/epicvouchers/command/CommandManager\.class

target/classes/com/songoda/epicvouchers/command/commands/CommandEditor\.class

target/classes/com/songoda/epicvouchers/command/commands/CommandEpicVouchers\.class

target/classes/com/songoda/epicvouchers/command/commands/CommandForce\.class

target/classes/com/songoda/epicvouchers/command/commands/CommandGive\.class

target/classes/com/songoda/epicvouchers/command/commands/CommandList\.class

target/classes/com/songoda/epicvouchers/command/commands/CommandReload\.class

target/classes/com/songoda/epicvouchers/EpicVouchers\.class

target/classes/com/songoda/epicvouchers/events/ForceRedeemEvent\.class

target/classes/com/songoda/epicvouchers/events/VoucherReceiveEvent\.class

target/classes/com/songoda/epicvouchers/events/VoucherRedeemEvent\.class

target/classes/com/songoda/epicvouchers/handlers/Connections\.class

target/classes/com/songoda/epicvouchers/handlers/PreventHacks\.class

target/classes/com/songoda/epicvouchers/inventory/Confirmation\.class

target/classes/com/songoda/epicvouchers/inventory/VoucherEditor\.class

target/classes/com/songoda/epicvouchers/liberaries/Bountiful\.class

target/classes/com/songoda/epicvouchers/Locale\.class

target/classes/com/songoda/epicvouchers/References\.class

target/classes/com/songoda/epicvouchers/utils/ConfigWrapper\.class

target/classes/com/songoda/epicvouchers/utils/Debugger\.class

target/classes/com/songoda/epicvouchers/utils/Methods\.class

target/classes/com/songoda/epicvouchers/utils/ServerVersion\.class

target/classes/com/songoda/epicvouchers/utils/SettingsManager\.class

target/classes/com/songoda/epicvouchers/utils/SettingsManager\$settings\.class

target/classes/com/songoda/epicvouchers/utils/SoundUtils\.class

target/classes/com/songoda/epicvouchers/voucher/ClickListener\.class

target/classes/com/songoda/epicvouchers/voucher/Cooldowns\.class

target/classes/com/songoda/epicvouchers/voucher/Cooldowns\$1\.class

target/classes/com/songoda/epicvouchers/voucher/Voucher\.class

target/classes/com/songoda/epicvouchers/voucher/VoucherExecutor\.class

target/classes/com/songoda/epicvouchers/voucher/VoucherManager\.class

target/classes/en_US\.lang

target/classes/plugin\.yml

target/classes/vouchers\.yml

dependency-reduced-pom\.xml
